@model IEnumerable<WeeklyPlaner.Models.Planer>

@{
    ViewBag.Title = "Tedenski pregled";
}

<h2>Tedenski pregled</h2>

<p>
    @Html.ActionLink("Vnesi tedenski pregled", "Create")
</p>

@foreach (var item in Model)
{
    <div class="box">
        @*CultureInfo for Slovenian day name*@
        @{
    var cultureInfo = new System.Globalization.CultureInfo("sl-SI");
    var dayOfWeek = cultureInfo.DateTimeFormat.GetDayName(item.PlanedOn.DayOfWeek).ToUpper();
        }

        <h4>@Html.DisplayFor(mealItem => dayOfWeek), @Html.DisplayFor(mealItem => item.PlanedOn)</h4>

        @{ int columns = 5; }
        @for (int i = 0; i < item.PlanerMeals.Count(); i++)
        {
            if (i % columns == 0)
            {
                @Html.Raw("<div class=\"row\">");
            }

            @*Bootstrap allows 12 columns across the page*@
            @Html.Raw("<div class=\"col-md-" + 12 / columns + "\">");

            var imagePath = item.PlanerMeals.ElementAt(i).Meal.ImagePath == null ? string.Empty : Url.Content(item.PlanerMeals.ElementAt(i).Meal.ImagePath);

            <img src="@imagePath" alt="Obrok" class="img-thumbnail" style="width: 161px; height: 121px;" />
            <span style="font-size: 13px; text-transform: uppercase;">@Html.DisplayFor(mealItem => item.PlanerMeals.ElementAt(i).Meal.Title)</span>
            @Html.Raw("</div>");

            if (i % columns == columns - 1 || i == item.PlanerMeals.Count() - 1)
            {
             @Html.Raw("</div>");
            }
        }
    </div>
}
