@model WeeklyPlaner.Models.ShoppingList

@{
    ViewBag.Title = "Nakupovalni listek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nakupovalni listek</h2>

<table class="table table-bordered">
    @foreach (var item in Model.ShoppingListItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(mealItem => item.Quantity)
                @Html.DisplayFor(mealItem => item.Unit.Symbol)
            </td>
            <td>
                @Html.DisplayFor(mealItem => item.Item.Name)
            </td>
        </tr>
    }
</table>

<section class="footer">
    <div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |        
        @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
    </div>
</section>